        <!-- About us -->
        <section class="blog-padding pt-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="blog-standard-item">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <a href="blog-details.html"><img src="assets/img/blog/blog_post_thumb01.jpg"
                                            style="width:100%;" alt=""></a>
                                </div>
                                <div class="col-lg-6">
                                    <h2 class="title">About Us</h2>
                                    <p>Systematic Solutions is a newly launched Web and App development company in
                                        Mumbai - India with a vision to cater hundreds and thousands of small and medium
                                        sized companies with different products and services. Our Mission is to help
                                        these small and medium sized companies enhance their business by generating
                                        leads and enquiries for them. Most of these companies are not aware or have very
                                        seldom knowledge about the power of the internet and Digital Marketing. Through
                                        our interaction we can help them understand the scope of Web development and Web
                                        based activities. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-us-end -->

        <!-- Mission -->
        <section class="blog-padding pt-50">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="blog-standard-item">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <h2 class="title">Mission</h2>
                                    <p>Forem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis
                                        nostrue
                                        adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua
                                        enim ad minim veniam quis nostrue.</p>
                                </div>
                                <div class="col-lg-6">
                                    <a href="blog-details.html"><img src="assets/img/blog/blog_post_thumb02.jpg"
                                            style="width:100%;" alt=""></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Mission-end -->

        <!-- Vision -->
        <section class="blog-padding pt-50 pb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="blog-standard-item">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <a href="blog-details.html"><img src="assets/img/blog/blog_post_thumb03.jpg"
                                            style="width:100%;" alt=""></a>
                                </div>
                                <div class="col-lg-6">
                                    <h2 class="title">Vision</h2>
                                    <p>Forem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis
                                        nostrue
                                        adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua
                                        enim ad minim veniam quis nostrue.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-us-end -->
