<section class="comingsoon-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="comingsoon-img">
                    <img src="assets/img/images/comming_img.png" alt="img">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="comingsoon-content">
                    <span>---- coming soon</span>
                    <h2 class="title">Don't Be Fret We Coming Soon.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut .</p>
                </div>
                <div class="coming-time-wrap mt-35">
                    <div class="coming-time" data-countdown="2023/8/30"></div>
                </div>
            </div>
        </div>
    </div>
</section>
