  <!-- banner-area -->
  <section id="home" class="banner-area">
    <div class="banner-left-shape"></div>
    <div class="banner-right-shape"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-7 col-lg-6">
                <div class="banner-content">
                    <h2 class="title wow fadeInUp" data-wow-delay=".2s">The Best Solutions Are Here</h2>
                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        Businesses around the world were very different from today’s world of internet. Because
                        of the internet today businesses can be in touch with their customers and the customers
                        in return can give their reviews according to the satisfaction of their products or
                        services. It's a powerful medium that any company can use to reach out and maintain
                        relationships.
                        IT solutions, since the last 30 to 40 years have helped many businesses break their
                        boundaries and grow exponentially.

                    </p>
                    <!-- <div class="banner-btn">
                        <a href="login-and-signup.html" class="btn wow fadeInLeft" data-wow-delay=".6s">Discover
                            more</a>
                        <a href="login-and-signup.html" class="btn transparent-btn wow fadeInRight" data-wow-delay=".6s">Download now</a> 
                     </div> --> 
                </div>
            </div>
            <div class="col-xxl-5 col-lg-6">
                <div class="banner-img">
                    <img src="assets/img/banner/banner_img.png" class="main-img" alt="img">
                    <img src="assets/img/banner/banner_girl.png" alt="img" class="shape-1">
                    <img src="assets/img/banner/banner_phone.png" alt="img" class="shape-2">
                    <img src="assets/img/banner/banner_cloud01.png" alt="img" class="shape-3">
                    <img src="assets/img/banner/banner_cloud02.png" alt="img" class="shape-4">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-area-end -->

<!-- about-area -->
<section class="about-area pt-70 pb-70">
    <div class="about-shape"></div>
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-6">
                <div class="about-img">
                    <img src="assets/img/images/about_img.png" class="main-img" alt="img">
                    <img src="assets/img/images/about_phone.png" alt="img" class="shape-1 wow fadeInDown"
                        data-wow-delay=".2s">
                    <img src="assets/img/images/about_man01.png" alt="img" class="shape-2 wow fadeInLeft"
                        data-wow-delay=".6s">
                    <img src="assets/img/images/about_man02.png" alt="img" class="shape-3">
                    <img src="assets/img/images/about_leaf.png" alt="img" class="shape-4 wow fadeInRight"
                        data-wow-delay=".6s">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6" id="aboutUs">
                <div class="section-title mb-40">
                    <h2 class="title">Know More About Us</h2>
                </div>
                <div class="about-content">
                    <p>Systematic Solutions is a newly launched web and app development company in Mumbai, India
                        with a vision to cater hundreds and thousands of small and medium sized companies with
                        different products and services. Our Mission is to help these small and medium sized
                        companies enhance their business by generating leads and enquiries for them.</p>
                    <a href="login-and-signup.html" class="btn">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area-end -->

<!-- Solutions -->
<section class="features-area pt-70 pb-20" id="solutions">
    <div class="section-title text-center mb-40">
        <h2 class="title">Solutions</h2>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="features-item text-center mb-50 wow fadeInUp" data-wow-delay=".2s">
                    <div class="features-icon">
                        <img src="assets/img/icons/coding.png" alt="">
                    </div>
                    <div class="features-content">
                        <h4 class="title">Web Development</h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="features-item text-center mb-50 wow fadeInUp" data-wow-delay=".4s">
                    <div class="features-icon">
                        <img src="assets/img/icons/app-development.png" alt="">
                    </div>
                    <div class="features-content">
                        <h4 class="title">App Development</h4>
                        <p>Give you a complete account of the system and expound the actual teachings of the
                            great
                            explorer of the truth the master.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="features-item text-center mb-50 wow fadeInUp" data-wow-delay=".6s">
                    <div class="features-icon">
                        <img src="assets/img/icons/ui.png" alt>
                    </div>
                    <div class="features-content">
                        <h4 class="title">UI/UX</h4>
                        <p>Give you a complete account of the system and expound the actual teachings of the
                            great
                            explorer of the truth the master.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- features-area-end -->

<!-- app-features-area -->
<!-- <section id="features" class="app-features-area pt-70 pb-70">
    <div class="app-features-shape"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center mb-40">
                    <h2 class="title">Apps Features</h2>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                        pain was
                        born will give complete account.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="app-features-wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="add-features-item mb-50 wow fadeInUp" data-wow-delay=".2s">
                                <div class="add-features-icon">
                                    <img src="assets/img/icons/app_features01.png" alt="">
                                </div>
                                <div class="add-features-content">
                                    <h4 class="title">Fully Responsive</h4>
                                    <p>But I must explain to you how all this mistaken idea of denouncing
                                        pleasure and
                                        praising .</p>
                                </div>
                            </div>
                            <div class="add-features-item mb-50 wow fadeInUp" data-wow-delay=".4s">
                                <div class="add-features-icon">
                                    <img src="assets/img/icons/app_features03.png" alt="">
                                </div>
                                <div class="add-features-content">
                                    <h4 class="title">Awesome Design</h4>
                                    <p>But I must explain to you how all this mistaken idea of denouncing
                                        pleasure and
                                        praising .</p>
                                </div>
                            </div>
                            <div class="add-features-item wow fadeInUp" data-wow-delay=".6s">
                                <div class="add-features-icon">
                                    <img src="assets/img/icons/app_features05.png" alt="">
                                </div>
                                <div class="add-features-content">
                                    <h4 class="title">Supper Fast</h4>
                                    <p>But I must explain to you how all this mistaken idea of denouncing
                                        pleasure and
                                        praising .</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="add-features-item mb-50 wow fadeInUp" data-wow-delay=".2s">
                                <div class="add-features-icon">
                                    <img src="assets/img/icons/app_features02.png" alt="">
                                </div>
                                <div class="add-features-content">
                                    <h4 class="title">Granted Security</h4>
                                    <p>But I must explain to you how all this mistaken idea of denouncing
                                        pleasure and
                                        praising .</p>
                                </div>
                            </div>
                            <div class="add-features-item mb-50 wow fadeInUp" data-wow-delay=".4s">
                                <div class="add-features-icon">
                                    <img src="assets/img/icons/app_features04.png" alt="">
                                </div>
                                <div class="add-features-content">
                                    <h4 class="title">Full Free Chatting</h4>
                                    <p>But I must explain to you how all this mistaken idea of denouncing
                                        pleasure and
                                        praising .</p>
                                </div>
                            </div>
                            <div class="add-features-item wow fadeInUp" data-wow-delay=".6s">
                                <div class="add-features-icon">
                                    <img src="assets/img/icons/app_features06.png" alt="">
                                </div>
                                <div class="add-features-content">
                                    <h4 class="title">100% Free Update</h4>
                                    <p>But I must explain to you how all this mistaken idea of denouncing
                                        pleasure and
                                        praising .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="app-features-img">
                        <img src="assets/img/images/app-features_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- app-features-area -->

<!-- app-screenshot-area -->
<!-- <section id="screesnshot" class="app-screenshot-area pt-70 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center mb-60">
                    <h2 class="title">Apps Screenshot</h2>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                        pain was
                        born will give complete account.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container custom-container">
        <div class="row app-active">
            <div class="col-12">
                <div class="app-item">
                    <a href="assets/img/screenshot/01.jpg" class="popup-image"><img
                            src="assets/img/screenshot/01.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="app-item">
                    <a href="assets/img/screenshot/02.jpg" class="popup-image"><img
                            src="assets/img/screenshot/02.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="app-item">
                    <a href="assets/img/screenshot/03.jpg" class="popup-image"><img
                            src="assets/img/screenshot/03.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="app-item">
                    <a href="assets/img/screenshot/04.jpg" class="popup-image"><img
                            src="assets/img/screenshot/04.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="app-item">
                    <a href="assets/img/screenshot/05.jpg" class="popup-image"><img
                            src="assets/img/screenshot/05.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="app-item">
                    <a href="assets/img/screenshot/01.jpg" class="popup-image"><img
                            src="assets/img/screenshot/01.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- app-screenshot-area-end -->

<!-- counter-area -->
<!-- <section class="counter-area pt-70 pb-70">
    <div class="counter-shape"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center mb-60">
                    <h2 class="title">Apps Statistics</h2>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                        pain was
                        born will give complete account.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="counter-item text-center mb-30 wow fadeInUp" data-wow-delay=".2s">
                    <h2 class="title"><span class="count">2.5</span>k</h2>
                    <p>Downloads</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="counter-item text-center mb-30 wow fadeInUp" data-wow-delay=".4s">
                    <h2 class="title"><span class="count">10</span>m</h2>
                    <p>Satisfied User</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="counter-item text-center mb-30 wow fadeInUp" data-wow-delay=".6s">
                    <h2 class="title"><span class="count">15</span>k</h2>
                    <p>Star Reviews</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="counter-item text-center mb-30 wow fadeInUp" data-wow-delay=".8s">
                    <h2 class="title"><span class="count">25</span>m</h2>
                    <p>Social Sharing</p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- counter-area-end -->

<!-- pricing-area -->
<!-- <section id="pricing" class="pricing-area pt-70 pb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center mb-95">
                    <h2 class="title">Pricing Plan</h2>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                        pain was
                        born will give complete account.</p>
                </div>
            </div>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="pricing-item text-center mb-30">
                    <div class="pricing-head">
                        <h4 class="title">Startup</h4>
                        <p>Basic Plan</p>
                    </div>
                    <div class="pricing-price">
                        <h2 class="title">$49.99/<span>monthly</span></h2>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li>Push Notifications</li>
                            <li>Offline Synchronization</li>
                            <li>SQL Database</li>
                            <li>Speech & Text Analytics</li>
                            <li>24/7 Support</li>
                        </ul>
                    </div>
                    <div class="pricing-btn">
                        <a href="login-and-signup.html" class="btn transparent-btn">Choose plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="pricing-item active text-center mb-30">
                    <div class="pricing-head">
                        <h4 class="title">Golden Plan</h4>
                        <p>Basic Plan</p>
                    </div>
                    <div class="pricing-price">
                        <h2 class="title">$79.99/<span>monthly</span></h2>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li>Data Transfer</li>
                            <li>Push Notifications</li>
                            <li>Offline Synchronization</li>
                            <li>SQL Database</li>
                            <li>Speech & Text Analytics</li>
                            <li>24/7 Support</li>
                        </ul>
                    </div>
                    <div class="pricing-btn">
                        <a href="login-and-signup.html" class="btn">Choose plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="pricing-item text-center mb-30">
                    <div class="pricing-head">
                        <h4 class="title">Diamond Plan</h4>
                        <p>Basic Plan</p>
                    </div>
                    <div class="pricing-price">
                        <h2 class="title">$99.99/<span>monthly</span></h2>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li>Push Notifications</li>
                            <li>Offline Synchronization</li>
                            <li>SQL Database</li>
                            <li>Speech & Text Analytics</li>
                            <li>24/7 Support</li>
                        </ul>
                    </div>
                    <div class="pricing-btn">
                        <a href="login-and-signup.html" class="btn transparent-btn">Choose plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- pricing-area-end -->

<!-- testimonial-area -->
<!-- <section class="testimonial-area pt-70 pb-70">
    <div class="testimonial-shape"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center mb-20">
                    <h2 class="title">User Feedback</h2>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                        pain was
                        born will give complete account.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-3 col-lg-4">
                <div class="testimonial-img wow fadeInLeft" data-wow-delay=".2s">
                    <img src="assets/img/images/testimonial_img.png" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="testimonial-active">
                    <div class="testimonial-item">
                        <p>But I must explain to you how all this mistaken idea denouncing pleasure and praising
                            pain
                            was born and will give you a complete account of the system and expound the actual
                            teachings.</p>
                        <div class="testimonial-info">
                            <h5 class="title">MIchel Jhon</h5>
                            <p>Web Designer</p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p>But I must explain to you how all this mistaken idea denouncing pleasure and praising
                            pain
                            was born and will give
                            you a complete account of the system and expound the actual teachings.</p>
                        <div class="testimonial-info">
                            <h5 class="title">MIchel Jhon</h5>
                            <p>Web Designer</p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p>But I must explain to you how all this mistaken idea denouncing pleasure and praising
                            pain
                            was born and will give
                            you a complete account of the system and expound the actual teachings.</p>
                        <div class="testimonial-info">
                            <h5 class="title">MIchel Jhon</h5>
                            <p>Web Designer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- testimonial-area-end -->

<!-- download-area -->
<!-- <section id="download" class="download-area pt-70 pb-70">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-7 col-lg-7">
                <div class="section-title mb-40">
                    <h2 class="title">Download Our Apps</h2>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                        pain was
                        born will give complete account.</p>
                </div>
                <div class="download-btn">
                    <a href="login-and-signup.html" class="btn transparent-btn">
                        <i class="fab fa-android"></i>
                        <p>Available on <span>Google Store</span></p>
                    </a>
                    <a href="login-and-signup.html" class="btn transparent-btn">
                        <i class="fab fa-apple"></i>
                        <p>Available on <span>Apple Store</span></p>
                    </a>
                    <a href="login-and-signup.html" class="btn transparent-btn">
                        <i class="fab fa-windows"></i>
                        <p>Available on <span>Windows</span></p>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="download-img wow fadeInRight" data-wow-delay=".2s">
                    <img src="assets/img/images/phone_img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- download-area-end -->

<!-- contact-area -->
<section id="contact" class="contact-area pt-120 pb-200">
    <div class="contact-shape"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center mb-60">
                    <h2 class="title">Contact Us</h2>
                    <!-- <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                        pain was
                        born will give complete account.</p> -->
                </div>
            </div>
        </div>
        <div class="contact-inner">
            <form id="contact-form" class="contact-form"
                action="https://themeadapt.com/tf/xavi-prev/xavi/inc/contact.php" data-toggle="validator">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-grp">
                            <input type="text" name="name" placeholder="Name :" required="required"
                                data-error="Name is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-grp">
                            <input type="email" name="email" placeholder="Email :" required="required"
                                data-error="Email is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-grp">
                            <input type="text" name="phone" placeholder="Phone :" required="required"
                                data-error="Phone is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-grp">
                            <textarea name="message" placeholder="Message :" required="required"
                                data-error="Message is required."></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="contact-btn text-center mt-10">
                    <button type="submit" class="btn">Send message</button>
                </div>
                <div class="messages"></div>
            </form>
        </div>
    </div>
</section>
<!-- contact-area-end -->
